body { font-family:"宋体", arial;margin:0; padding:0; background: #171717; font-size:12px; color:#000;}
div,form,img,ul,ol,li,dl,dt,dd,p,span{margin: 0; padding: 0; border: 0; }
li{list-style-type:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
span{
	display:inline-block;
}
a:link {color: #676767; text-decoration:none;}
a:visited {color: #83006f;text-decoration:none;}
a:hover {color: #bc2931; text-decoration:underline;}
a:active {color: #bc2931;}
    /* 设置滚动条的样式 */
    ::-webkit-scrollbar{ width:15px; margin-right:2px }
::-webkit-scrollbar-track-piece{background-color:#171717;border:1px solid #676767;}
::-webkit-scrollbar-thumb{ background:#262626; width:10px;border:1px solid #676767; }
::-webkit-scrollbar-thumb:hover{ background:#363636; }
input{
	border:none;
}
body *{
	/*border:1px solid red;*/
}
.all{
	width:1200px;
	margin:0 auto;
	overflow:hidden;
	margin-top: 60px;
}
.menu{
	height:60px;
	text-align:center;
	position: fixed;
	width:100%;
	top:0;
	z-index:5;
}
.logo{
	width:200px;
	height:60px;
	float:left;
	background:#04a6d1;
}
.menuall ul{
	float:left;
}
.menuall ul li{
	padding:0px 50px;
	display:inline-block;
	height:60px;
	line-height:60px;
}
.menuall ul li a{
	color:#b6b6b6;
}
.cont{
	position:relative;
}
.distreenode div{
	border:1px solid red;
}
.menuab{
	width:50px;
	position:absolute;
	top:10px;
	min-height:40px;
	line-height:40px;
	right:50px;
	z-index:100
}
.menuab span{
	min-height:40px;
	line-height:40px;
	width:50px;
	color:#b6b6b6;
}
.menuab span img{
	margin-top:15px;
}
.menuall{
    margin: 0 auto;
    width: 1200px;
    position:relative;
    height:60px;
    background:#171717;
}
.menuab:hover{
	background:#04A6D1;
}
.menuab:hover .menu_tabs{
	display:block;
}
.menu_tabs{
	width:70px;
	display:none;
	float:right;
	background:#04A6D1;
}
.menu_tabs ul{
	padding:0;
	margin:0;
}
.menu_tabs ul li{
	padding:0;
	margin:0;
	height:30px;
	display:block;
	line-height:30px;
	padding-left:10px;
}
.menu_tabs ul li a{
	color:#fff;
}