.leftdiv{
	width:180px;
	padding:0 10px;
	float:left;
	overflow:hidden;
	background:#171717;
	position:fixed;
	top:60px;
}
.groupdiv{
	overflow:hidden;
	font-size:15px;
	min-height:100px;
}
.grouptit{
	height:50px;
	line-height:50px;
	border-bottom:1px solid #676767;
}
.tit1{
	margin-left:15px;
	color:#9d9d9d;
}
.grouptit .addbtn{
	float:right;
	margin-right:10px;
	padding:0 10px 0 10px;
	color:#7c7c7c;
}
.library li{
	border-bottom:1px solid #676767;
}
.ali{
	border-bottom:1px solid #676767;
}
#materialGroup li{
	border-bottom:1px solid #676767;
}
.groupcont{
}
#addmatdiv{
	width:100px;
	overflow-x: auto;
	OVERFLOW-y: auto;
	}
.groupcont ul li{
	padding-left:15px;
	overflow:hidden;
}
.groupcont .addbtn{
	float:right;
	margin-right:10px;
	padding:0 10px 0 10px;
	color:#D8D8D8;

	/*position:absolute;
	right:10px;
	top:2px;*/
}
.groupcont{
	overflow:auto;
}
.groupcont div,.groupcont ul li{
	line-height:40px;
}
.groupcont .li1:hover,.groupcont .li2:hover{
/*	background:#979797;*/
}
.rightdiv{
	float:right;
	width:970px;
	padding-left:20px;
}
.tit2{
	height:35px;
	margin-top:10px;
}
.sp1{
	float: right;
    margin-left: 50px;
    margin-right: 150px;
}
.sp2 {
    border-right: 1px solid #a2a2a2;
    float: right;
    padding-right: 50px;
}
.sp1 .videobut {
    background: url("../img/video.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 17px;
    width: 17px;
}
.sp1 .listbut {
    background: url("../img/list.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 17px;
    margin-left: 30px;
    width: 17px;
}
.tit2 span input{
	font-size:15px;
}
.sp3{
	margin-left:100px;
}
.bgimgdiv,.strdiv{
}
.bgimgdiv{
	display:none;
}
.bgimgdiv .tit3,.strdiv .tit3{
	font-size:25px;
}
.videoimg{
	width:200px;
	height:150px;
	margin-right:10px;
	margin-top:10px;
	border-radius:10px;
	background:#d8d8d8;
	border:2px solid #979797;
	position:relative;
}
.videoimg .check{
	position:absolute;
	left:5px;
	top:5px;
}
.videoimg .play{
	position:absolute;
	left:40%;
	top:43%;
}
.videoimg .downl{
	position:absolute;
	right:5px;
	bottom:5px;
}
.videoimg .disnone{
	padding:5px;
	background:#d8d8d8;
	border:2px solid #979797;
	position:absolute;
	top:140px;
	left:150px;
	z-index:1;
	display:none;
}
.videoimg .disnone ul li{
	font-size:16px;
}
.videoimg .disnone ul li:hover{
	background:#999;
}
.videoimg .files{
	width:150px;
	height:100px;
	border:1px solid #60F;
	margin:0 auto;
	margin-top:20px;
}
/*列表样式*/
.videodiv .videostr{
	height:50px;
	width:95%;
	border:1px solid #363636;
	background:#262626;
	position:relative;
	margin-bottom:8px;
	border-radius:5px;
	color:#BBB;
}
.videodiv input[type="button"]{
	background: none repeat scroll 0 0 #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
    font-size: 14px;
    padding: 4px;
    width: 60px;
}
.videostr .check{
	position:absolute;
	left:9px;
	top:15px;
}
.videostr .play{
	position:absolute;
	left:35px;
	top:10px;
	font-size:20px;
}
.videostr .downl{
	position:absolute;
	right:30px;
	top:10px;
	font-size:20px;
}
.videostr .disnone{
	position:absolute;
	right:25px;
	top:40px;
	z-index:1;
	padding:5px;
	background:#d8d8d8;
	border:2px solid #979797;
	display:none;
	font-size:15px;
}
.videostr .downl:hover .videostr .disnone{
	display:block;
}
.videostr .disnone ul li:hover{
	background:#999;
}
.videostr .files{
	width:75%;
	margin:0 auto;
	height:50px;
}
.files .name{
	width:320px;
	height:50px;
	line-height:50px;
	font-size:20px;
}
.files .format{
	width:150px;
	height:50px;
	line-height:50px;
	font-size:20px;
}
.files .long{
	width:150px;
	height:50px;
	line-height:50px;
	font-size:20px;
}
.downdiv:hover .disnone{
	display:block;
}
.outer{
	position: fixed; top: 0px; left: 0px;background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.3; z-index: 9999; display:none;
}
.formdiv{
	width:400px;
	overflow:hidden;
	position: absolute;
    z-index: 9999;
	background:#FFF;
	display:none;
	font-size:20px;
}
.formdiv2{
	width:400px;
	overflow:hidden;
	position: absolute;
    z-index: 9999;
	background:#FFF;
	display:none;
	font-size:20px;
}
.formdiv input[type="text"],.formdiv2 input[type="text"]{
	width:200px;
	height:30px;
	border:2px solid #999;
}
.formdiv input[type="button"],.formdiv2 input[type="button"]{
	width:100px;
	height:30px;
}
.float {
	position: fixed;
	top: 60px;
	right: 0;
}
.rightdivabs {
	float: right;
	width: 390px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5;
	padding: 10px;
	border: 2px solid #ccc;
	background: #FFF;
	font-size:20px;
	display:none;
}
.rightdivabs .tit{
	font-size: 25px;
	padding-left: 10px;
	height: 50px;
	line-height: 50px;
}
.chatdiv {
	padding: 5px;
	/*overflow: hidden;
	overflow-x: hidden;
	OVERFLOW-y: auto;*/
	border: 1px solid #999;
	background: #FFF;
}
.roughimg{
	border:2px solid #ccc;
	width:360px;
	margin:0 auto;
	height:220px;
}
.withtit{
	border:2px solid #ccc;
	font-size:20px;
	padding:10px;

}
.metadata{
	line-height:25px;
	padding:10px;
	height:300px;
	overflow-x: hidden;
	overflow-y: auto;
}
.groupcont .delbtn {
	float: right;
	margin-right: 10px;
	padding: 0 10px 0 10px;
	color: #D8D8D8;
}
.node{
/*	margin-left:-20px;*/
}
.distreenode{
	margin-left:15px;
}
.clip{
/*	margin-left:10px;*/
	display:none;
}
.nameinp,.nameinp2{
	width: 200px;
	height: 25px;
	border: 2px solid #999;
}
.groupcont .delbtn2 {
	float: right;
	margin-right: 10px;
	padding: 0 10px 0 10px;
	color: #D8D8D8;
}
.TreeNode{
	position:relative;
}
.treenode1{
	position:relative;
	min-width:280px;
}
.treenode1:hover{
}
.spsearch {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    display: block;
    float: left;
    height: 28px;
    margin: 0;
    padding: 0;
    position: relative;
}
.inpsearch {
    background-color: #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    outline-style: none;
    overflow: hidden;
    padding: 4px 30px 4px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
}
.butsearch {
    background: url("../img/glass.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 20px;
}