body{
  background-color:#171717;
}
#login_indexPage{
   width:600px;
   height:210px;
   background-color:#262626;
   margin:0 auto;
   border: 1px solid #676767;
   color: #bbb;
   margin-top:300px;
}
input[type="text"],input[type="password"]{
	background-color: #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 4px 30px 4px 10px;
    white-space: nowrap;
    width: 200px;
}
input[type="text"]:focus,input[type="password"]:focus{
	border:1px solid #04a6d1;
}
input[type="button"]{
	width:100px;
	height:30px;
    padding: 4px;
	background: #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
}



span{
color:red;
font-style:italic;
}
span.error{
background: url(../img/c_unchecked.gif) no-repeat;
padding-left: 15px;
}
span.success{
background: url(../img/c_checked.gif) no-repeat;
padding-left: 15px;
}