/* CSS Document */
.leftdiv {
    background: none repeat scroll 0 0 #171717;
    float: left;
    overflow: hidden;
    width: 180px;
	padding:0 10px 0 10px;
}
.grouptit {
    line-height: 50px;
	color:#b6b6b6;
}
.tit1 {
    color: #9d9d9d;
    margin-left: 15px;
}
.groupdiv {
    font-size: 15px;
    min-height: 200px;
    overflow: hidden;
}
.grouptit .addbtn {
    float: right;
    margin-right: 5px;
}
.groupcont {
    overflow: auto;
}
.groupcont div, .groupcont ul li {
    line-height: 30px;
}
.groupcont ul li {
    overflow: hidden;
    padding-left: 10px;
	padding-right: 10px;
}

.rightdiv {
    float: right;
    padding-left: 20px;
    width: 980px;
    background:#171717;
}
.tit2 {
    height: 35px;
	margin-top:10px;
}
.sp1, .sp2, .sp3, .spsearch {
    display: inline-block;
}
.tit2 span input {
    font-size:15px;
}
.sp1{
	margin-right:150px;
	margin-left:50px;
	float:right;
}
.sp1 .listbut{
	width:17px;
	height:17px;
	background:url(../img/list.png);
	margin-left:30px;
}
.sp1 .videobut{
	width:17px;
	height:17px;
	background:url(../img/video.png);
}
.sp2 {
    float:right;
    padding-right: 50px;
    border-right:1px solid #a2a2a2;
}
.sp2 .updfile{
	background:url(../img/add.png);
	width:17px;
	height:17px;
}
.sp3 {
    margin-left: 100px;
}
/**/
.spsearch {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    display: block;
    height: 28px;
    position: relative;
    float:left;
margin:0;
padding:0;
}
.inpsearch {
    border: 2px solid #979797;
    background-color: #171717;
    border: 1px solid #ccc;
    box-shadow: none;
    color: #808080;
    height: 18px;
    line-height:18px;
    outline-style: none;
    overflow: hidden;
    padding: 4px 30px 4px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:12px;
    width:200px;
	border:1px solid #a2a2a2;
	margin:0;
}
.butsearch{
	position: absolute;
    right: 4px;
    top: 4px;
	height:20px;
	width:20px;
	background:url(../img/glass.png);
}
/*input[type=text]:focus, input[type=password]:focus {*/
.inpsearch:focus{
    border: 1px solid #13a3c5;
}
/**/
.bgimgdiv .tit3, .strdiv .tit3 {
    font-size: 25px;
}
.videoimg {
    height: 150px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    width: 200px;
}
.videoimg .check {
    left: 5px;
    position: absolute;
    top: 5px;
	background:#CCC;
}
.videoimg .play {
    left: 40%;
    position: absolute;
    top: 32%;
	background:url(../img/play.png);
	width:38px;
	height:38px;
}


.outer {
    background: none repeat scroll 0 0 rgb(0, 0, 0);
    display: none;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.float {
    right: 0;
	top:60px;
	height:800px;
	position:fixed;
}
.rightdivabs {
    background: none repeat scroll 0 0 #171717;
    display: none;
    float: right;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    width: 390px;
    z-index: 5;
}
.rightdivabs *{
	color:#bbb;
	font-size:15px;
}
.rightdivabs input[type="text"]{
	border:1px solid #a2a2a2;
	background-color: #262626;
}
.rightdivabs input[type="button"]{
	background:#04a6d1;
	color:#FFF;
}
.rightdivabs input[type="text"]:focus{
	border:1px solid #13a3c5;
}
.rightdivabs .tit {
    font-size: 25px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
	color:#bbb;
}
.formdiv2{
	display:none;
}
.chatdiv {
    padding: 5px;
	margin-bottom:10px;
}
.roughimg {
    height: 150px;
    margin: 0 auto;
    width: 200px;
	float:left;
}
.roughimg img{
	height:150px;
	width:200px;
}
.chatdiv table{
	float:left;
}
.withtit li{
	margin:5px 20px 5px 20px;
	float:left;
	cursor:pointer;
	height:11px;
	width:12px;
}
.basic{
	background:url(../img/home.png);
}
.need{
	background:url(../img/txt.png);
}
.material{
	background:url(../img/file.png);
}
.note{
	background:url(../img/mail.png);
}
.metadata .basicinfo,.metadata .needinfo,.metadata .materialinfo,.metadata .noteinfo,.metadata .editioninfo{
	display:none;
}
.basicinfo input[type="text"]{
	height:20px;
	width:150px;
}
.ovhi{
	overflow:hidden;
}
.piece{
	overflow:hidden;
	margin-bottom:10px;
	float:left;
}
.number{
	width:30px;
	height:80px;
	line-height:40px;
	padding-left:10px;
	float:left;
}
.news{
	width:310px;
	float:left;
	padding:10px;
	position:relative;
}
.imgradius{
	width:60px;
	height:60px;
	float:left;
	position:relative;
	overflow:hidden;
}
.imgradius img{
	border-radius:50%;
}
.stage{
	float:right;
	height:60px;
	width:240px;
}
.addmark{
	text-align:right;
	margin-right:10px;
	width:380px;
	overflow:hidden;
}
.del{
	display:none;
}
.number:hover .del{
	display:block;
}
.format{
	float:left;
	width:100%;
}
.source{
	height:30px;
}
.symbol{
	float:right;
	text-align:right;
	margin-right:10px;
	position:relative;
}
.bolpoab{
	position:absolute;
	top:5px;
	right:5px;
	width:70px;
	z-index:1;
	text-align:center;
	display:none;
	background:#262626;
	border:1px solid #363636;
	color:#bbb;
	padding:5px;
}
.bolpoab ul li:hover{
	background:#04a6d1;
	color:#FFF;
	cursor:pointer;
}
.symbol:hover .bolpoab{
	display:block;
}
.tab1{
	float:right;
	margin-left:10px;
}
.consult{
	float:left;
	width:100%;
	position:relative;
	height:490px;
	overflow-x: hidden;
    overflow-y: auto;
}
.consult h2{
	font-size:20px;
}
.consult table{
	font-size:14px;
}
.symbol2{
	text-align:right;
	margin-right:10px;
	position:relative;
}
.bolpoab2{
	position:absolute;
	top:10px;
	right:10px;
	width:70px;
	z-index:1;
	text-align:center;
	display:none;
	background:#262626;
	border:1px solid #363636;
	color:#bbb;
	padding:5px;
}
.bolpoab2 ul li:hover{
	background:#04a6d1;
	color:#FFF;
	cursor:pointer;
}
.symbol2:hover .bolpoab2{
	display:block;
}
.noteinfo{
	overflow:hidden;
	padding:5px;
}
.chat{
	height:300px;
	overflow-x: hidden;
    overflow-y: auto;
}
.newinfo{
	background: none repeat scroll 0 0 #ccc;
    border: 2px solid #999;
    font-size: 20px;
    line-height: 22px;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
    word-break: break-all;
}
.newinfo{
	background: none repeat scroll 0 0 #ccc;
    border: 2px solid #999;
    font-size: 20px;
    line-height: 22px;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
    word-break: break-all;
}
.newinfo img{
	width:300px;
}
.sendout {
    border: 1px solid #999;
    margin-top: 15px;
    overflow: hidden;
    padding: 5px;
	position:relative;
}
.sendout img {
    height: 35px;
    width: 50px;
}
.sendout .textarea {
    font-size: 25px;
    height: 150px;
    margin-top: 5px;
	margin-bottom:5px;
    width: 360px;
	overflow:hidden;
	resize:none;
	background:#171717;
	border:1px solid #a2a2a2;
	box-shadow:none;
	color:#808080;
	font-size:14px;
	padding:4px;
}
.sendout .but {
    float: right;
    height: 30px;
    width: 50px;
}
#imgs{
	height: 35px;
    width: 50px;
}
.editioninfo{
	height:575px;
	overflow-x: hidden;
    overflow-y: auto;
}
.tag{
	height:75px;
	padding:10px;
	border:1px solid #ccc;
	margin-bottom:10px;
}
.num{
	height:30px;
	width:80px;
	float:left;
}
.frame{
	float:right;
	width:260px;
	position:relative;
	padding:10px;
}
.imgs{
	width:50px;
	height:50px;
	float:left;
}
.menu_tab{
	position:relative;
	right:0;
	top:0;
	width:20px;
	float:right;
	text-align:right;
}
.bolpoabs{
	background: none repeat scroll 0 0 #262626;
    display: none;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 70px;
    z-index: 1;
	font-size:14px;
	border:1px solid #363636;
	padding:5px;
}
.menu_tab:hover .bolpoabs{
	display:block;
}
.bolpoabs ul li:hover{
	background:#04a6d1;
	color:#fff;
	cursor:pointer;
}
.loadedl{
	height:50px;
	line-height:50px;
	font-size:15px;
	text-align:center;
	position:relative;
	cursor:pointer;
	color:#676767;
}
.outer{
	background: none repeat scroll 0 0 rgb(0, 0, 0);
    display: none;
    left: 0;
    opacity: 0.3;
    position: fixed;
    top: 0;
    z-index: 9999;
}
.formdiv1{
    display: none;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    width: 400px;
    z-index: 9999;
}
.formdiv1 h2{
	font-size:30px;
	text-align:center;
	margin-top:10px;
}
.formdiv1 input[type="button"]{
    height: 30px;
    width: 100px;
}
.formdiv1 input[type="text"]{
    border: 2px solid #999;
    height: 30px;
    width: 200px;
}
#sizew, #sizeh{
	width:80px;
}
.updedl{
	position:absolute;
	top:10px;
	left:5px;
	font-size:30px;
	opacity:0;
	filter: alpha(opacity=0);
}
.formdiv2 {
    background: none repeat scroll 0 0 #fff;
    display: none;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    width: 400px;
    z-index: 9999;
}
.videoimg .downl {
    top: 8px;
    position: absolute;
    right: 28px;
	background:url(../img/arrow.png);
	width:12px;
	height:11px;
}
.videoimg .disnone {
    background: none repeat scroll 0 0 #262626;
    border: 1px solid #363636;
    display: none;
    left: 150px;
    padding: 5px;
    position: absolute;
    top: 20px;
    z-index: 1;
	color:#bbb;
}
.downdiv:hover .disnone{
	display:block;
}
.disnone ul li:hover{
	background:#04a6d1;
	color:#FFF;
}
.videoimg .disnone ul li {
    font-size: 16px;
	cursor:pointer;
}
.videoimg .files {
    height: 150px;
    width: 200px;
}
.videoimg .view{
	position:absolute;
	width:200px;
	height:150px;
	top:0; left:0;
}
.files img{
    height: 150px;
    width: 200px;
}
.addmaterial{
	position:absolute;
	right:10px;
	top:0px;
}
#submits{
	height: 30px;
    width: 100px;
}
#demand{
	height:55px;
	width:235px;
	resize: none;
	background-color: #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
    font-size: 12px;
    outline-style: none;
    overflow: hidden;
    padding: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.edit{
	position:absolute;
	right:11px;
	top:52px;
}
.addedit{
	position:absolute;
	right:11px;
	top:52px;
}
.make{
    height: 545px;
    overflow-x: hidden;
    overflow-y: auto;
	width:100%;
	padding-top:10px;
}
.videoimg .names{
	position:absolute;
	width:190px;
	height:22px;
	line-height:20px;
	top:128px;
	text-align:left;
	background-color:#1a1a1a;
	padding-left:10px;
	color:#d6d6d6;
}
.videoimg .names input{
	width:150px;
	height:18px;
	border:1px solid #13a3c5;
}
.videoimg .state{
	position:absolute;
	top:5px;
	right:5px;
	height:0px;
	width:0px;
}
.formdiv1 .size, .formdiv1 .types{
	width:200px;
	height:30px;
	border:1px solid #363636;
	background:#262626;
	color:#bbb;
}
.venul{
	position:relative;
	min-height:300px;
}
.venul li{
	border-bottom:1px solid #676767;
}
.addvgr{
	padding: 0 5px;
    position: absolute;
    right: 0;
	color:#666;
}
.addvgr div{
	background: #262626;
	border:1px solid #363636;
    padding: 0 5px;
    position: absolute;
    right: 20px;
    z-index: 1;
	display:none;
	width:150px;
	color:#bbb;
}
.vendiv{
	max-height:400px;
}
.addvgr div ul li{
	border:1px solid #262626;
}
.addvgr div ul li:hover{
	cursor:pointer;
	background:#04a6d1;
	color:#FFF;
}
.formdiv3,.formdiv4,.formdiv5{
	background: none repeat scroll 0 0 #fff;
    display: none;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    width: 400px;
    z-index: 9999;
}
.formdiv3 h2,.formdiv4 h2,.formdiv5 h2{
	font-size:30px;
	text-align:center;
	margin-top:10px;
}

#factorysel{
	width:200px;
}
.formdiv6,.formdiv7{
	background: none repeat scroll 0 0 #fff;
    display: none;
    font-size: 20px;
    overflow: hidden;
    position: absolute;
    width: 400px;
    z-index: 9999;
}
.formdiv6 h2,.formdiv7 h2{
	font-size:30px;
	text-align:center;
	margin-top:10px;
}
#file_input{
	position:absolute;
	left:0;
	top:0;
	font-size: 45px;
	opacity:0;
	filter: alpha(opacity=0);
}
.fileimg{
	position:absolute;
	left:5px;
	top:5px;
	font-size:30px;
	height:35px;
	width:50px;
	opacity:0;
	filter: alpha(opacity=0);
}

#descrinp{
	width: 200px;
	height: 85px;
}
.size input[type="text"]{
	width:60px;
}
.dels{
	position:absolute;
	width:17px;
	height:17px;
	right:5px;
	top:5px;
	display:none;
	background:url(../img/del.png);
}
.videodiv span:hover .dels{
	display:block;
}
.newinfol,.newinfor {
    font-size: 20px;
    line-height: 22px;
    margin: 5px;
    overflow: hidden;
    padding: 10px;
    word-break: break-all;
}
.newinfol .username{
	float:left;
	width:50px;
	height:50px;
	overflow:hidden;
}
.newinfol .buddy{
	float:left;
	overflow:hidden;
	margin-left:10px;
	width:250px;
	padding:10px;
	background: none repeat scroll 0 0 #ccc;
    border: 2px solid #999;
}
.newinfor .username{
	float:right;
	width:50px;
	height:50px;
	overflow:hidden;
}
.newinfor .buddy{
	float:right;
	overflow:hidden;
	margin-right:10px;
	width:240px;
	padding:10px;
    border: 1px solid #363636;
	background:#262626;
	border-radius:5px;
}
.buddy img{
	max-width:230px;
}
.fixed {
    position: fixed;
    top: 60px;
}
.formdiv1,.formdiv2,.formdiv3,.formdiv4,.formdiv5,.formdiv6,.formdiv7{
	background:#171717;
	border:1px solid #676767;
	color:#bbb;
}
.formdiv1 input[type="text"],.formdiv2 input[type="text"],.formdiv3 input[type="text"],.formdiv4 input[type="text"],.formdiv5 input[type="text"],.formdiv6 input[type="text"],.formdiv7 input[type="text"]{
	background:#171717;
	border:1px solid #a2a2a2;
	box-shadow:none;
	color:#808080;
	width:190px;
	font-size:14px;
	padding:4px;
}
.formdiv1 input[type="text"]:focus,.formdiv2 input[type="text"]:focus,.formdiv3 input[type="text"]:focus,.formdiv4 input[type="text"]:focus,.formdiv5 input[type="text"]:focus,.formdiv6 input[type="text"]:focus,.formdiv7 input[type="text"]:focus{
	border:1px solid #04a6d1;
}
.formdiv1 textarea, .formdiv2 textarea,.formdiv3 textarea,.formdiv4 textarea,.formdiv5 textarea,.formdiv6 textarea,.formdiv7 textarea{
	background:#171717;
	border:1px solid #a2a2a2;
	box-shadow:none;
	color:#808080;
	width:150px;
	font-size:14px;
	padding:4px;
	resize: none;
}
.formdiv1 input[type="button"],.formdiv2 input[type="button"],.formdiv3 input[type="button"],.formdiv4 input[type="button"],.formdiv5 input[type="button"],.formdiv6 input[type="button"],.formdiv7 input[type="button"]{
	background:#171717;
	border:1px solid #a2a2a2;
	box-shadow:none;
	color:#808080;
	width:100px;
	font-size:14px;
	padding:4px;
}
#sizee #sizew,#sizee #sizeh{
	width:74px;
}