.search{
	height:28px;
	text-align:center;
	line-height:100px;
	width:340px;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}
.inptext{
	background-color: #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0;
    outline-style: none;
    overflow: hidden;
    padding: 4px 30px 4px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
	position:absolute;
	top:0;
	left:0;
}
.inptext:focus{
	border:1px solid #04a6d1;
}
.inpsearch,.inpbutton{
	width:80px;
	height:28px;
}
.inpsearch{
	background: url("../img/glass.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 20px;
    position: absolute;
    left: 218px;
    top: 4px;
    width: 20px;
}
.pro{
	overflow:hidden;
	padding:10px;
}
.pro .protab{
	position:relative;
	width:48.5%;
	float:left;
	margin-left:10px;
}
.pro .protab table{
	margin-bottom:10px;
}
.protab table img{
	margin-left:20px;
}

.cz{
	position:absolute;
	right:7px;
	top:5px;
	cursor:pointer;
	display:none;
	color:#04a6d1;
}
.del{
	position:absolute;
	right:7px;
	top:40px;
	cursor:pointer;
	display:none;
}
.pro .protab table{
	background:#262626;
	border:1px solid #363636;
	color:#bbb;
	cursor:pointer;
}
.pro .protab table:hover{
	box-shadow: 0 0 10px #04a6d1;
}
.pro .protab:hover .cz{
	color:#09C;
	display:block;
}
.pro .protab:hover .del{
	color:#09C;
	display:block;
}
.outer{
	position: fixed; top: 0px; left: 0px;background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.3; z-index: 9999; display:none;
}
.formdiv{
	width:400px;
	overflow:hidden;
	position: fixed;
    z-index: 9999;
	display:none;
	background: #171717;
    border: 1px solid #676767;
    color: #bbb;
}
.formtable input[type='text']{
	background: none repeat scroll 0 0 #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
    font-size: 14px;
    padding: 4px;
    width: 190px;
}
.formtable input[type='text']:focus{
	border:1px solid #04a6d1;
}
.spsearch{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 0;
    display: block;
    height: 28px;
    margin: 0;
    padding: 0;
    position: relative;
	width:242px;
	float:left;
}
.inpbutton{
	float:right;
	background: none repeat scroll 0 0 #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
    font-size: 14px;
}
.again,.submit{
	background: none repeat scroll 0 0 #171717;
    border: 1px solid #a2a2a2;
    box-shadow: none;
    color: #808080;
    font-size: 14px;
    padding: 4px;
    width: 100px;
}