/* CSS Document */
body { font-family:"宋体", arial;margin:0; padding:0; background: #FFF; font-size:12px; color:#000;}
div,form,img,ul,ol,li,dl,dt,dd,p,span{margin: 0; padding: 0; border: 0; }
li{list-style-type:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}

a:link {color: #1f3a87; text-decoration:none;}
a:visited {color: #83006f;text-decoration:none;}
a:hover {color: #bc2931; text-decoration:underline;}
a:active {color: #bc2931;}
body *{
	/*border:1px solid red;*/
}
.all{
	width:1000px;
	margin:0 auto;
	overflow:hidden;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
.menu{
	height:60px;
	text-align:center;
	background:#CCC;
}
.menu ul li{
	padding:0px 10px 0px 10px;
	display:inline-block;
	height:60px;
	line-height:60px;
	font-size:20px;
}
.con{
	overflow:hidden;
}
.search{
	height:100px;
	text-align:center;
	line-height:100px;
}
.inptext{
	width:200px;
	height:40px;
	font-size:20px;
}

.inpsearch,.inpbutton{
	width:80px;
	height:40px;
}
.pro{
	overflow:hidden;
	padding:10px;
}
.pro .protab{
	position:relative;
	width:48.5%;
	float:left;
	margin-left:10px;
}
.pro .protab table{
	margin-bottom:10px;
	-webkit-box-shadow: 0px 0px 5px #999;
	box-shadow: 0px 0px 5px #999;
}
.protab table img{
	margin-left:20px;
}

.cz{
	position:absolute;
	right:7px;
	top:5px;
	cursor:pointer;
	display:none;
}
.del{
	position:absolute;
	right:7px;
	top:40px;
	cursor:pointer;
	display:none;
}
.pro .protab table{
	-webkit-transition: width .3s, height .3s, color .3s linear, background-color .3s linear, border-color .3s linear, -webkit-transform .3s linear;
	-moz-transition: width .3s, height .3s, color .3s linear, background-color .3s linear, border-color .3s linear, -moz-transform .3s linear;
	transition: width .3s, height .3s, color .3s linear, background-color .3s linear, border-color .3s linear, transform .3s linear;
}
.pro .protab table:hover{
	box-shadow: 0 0 10px #999;
}
.pro .protab:hover .cz{
	color:#09C;
	display:block;
}
.pro .protab:hover .del{
	color:#09C;
	display:block;
}
.outer{
	position: fixed; top: 0px; left: 0px;background: none repeat scroll 0% 0% rgb(0, 0, 0); opacity: 0.3; z-index: 9999; display:none;
}
.formdiv{
	width:400px;
	overflow:hidden;
	position: fixed;
    z-index: 9999;
	background:#FFF;
	display:none;
}
.formtable{

}
